/* SortingVisualizer.css */

/* Style for the main SortingVisualizer container */
.sorting-visualizer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
}

/* Style for the user input field and sort button */
.user-input-container {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.user-input-field {
  width: 200px;
  padding: 10px;
  margin-right: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 20px; /* Add margin to separate from array-container */
}

.sort-button {
  background-color: #007bff;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 20px; /* Add margin to separate from input field */
}

/* Style for the array container */
.array-container {
  display: flex;
  margin-bottom: 20px; /* Add margin between input field and array-container */
}

/* Style for the array bars */
.array-bar {
  width: 30px; /* Adjust the width as needed for square bars */
  height: 30px; /* Constant height for square bars */
  margin: 0 2px; /* Add margin to separate bars horizontally */
  background-color: #007bff;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  color: white;
  font-size: 16px;
}

/* Additional styles for sorted array bars if needed */
.sorted-bar {
  background-color: #4caf50; /* Green color for sorted bars */
  animation: none; /* Disable animation for sorted bars */
}
