/* SortingVisualizer.css */

/* Style for the main SortingVisualizer container */
.sorting-visualizer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
}

/* Style for the user input field and sort button */
.user-input-container {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.user-input-field {
  width: 200px;
  padding: 10px;
  margin-right: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 20px; /* Add margin to separate from array-container */
}

.sort-button {
  background-color: #007bff;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 20px; /* Add margin to separate from input field */
}

/* Style for the array container */
.array-container {
  display: flex;
  margin-bottom: 20px; /* Add margin between input field and array-container */
}

/* Style for the array bars */
.array-bar {
  width: 30px; /* Adjust the width as needed for square bars */
  height: 30px; /* Constant height for square bars */
  margin: 0 2px; /* Add margin to separate bars horizontally */
  background-color: #007bff;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  color: white;
  font-size: 16px;
}

/* Additional styles for sorted array bars if needed */
.sorted-bar {
  background-color: #4caf50; /* Green color for sorted bars */
  animation: none; /* Disable animation for sorted bars */
}

/* ----------------------------------------------------------------- */
/* Animation Zone */
/* ----------------------------------------------------------------- */
section.animation-zone {
  position: relative;
  height: 60vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  overflow-x: auto;
}

section.animation-zone div.array-container {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  position: absolute;
}

section.animation-zone div.array-container div.array-element {
  height: 40px;
  width: 40px;
  margin: 0 1px 0 1px;
  background: #d41e1e;
  text-align: center;
  font-family: "Livvic", sans-serif;
  font-weight: bold;
}

section.animation-zone div.array-container div.array-element p {
  font-size: 14px;
  line-height: 14px;
}

/* src/components/PracticePage.css (Create this file if it doesn't exist) */
.practice-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;

}

.h1{
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 30px;
}

.content {
  flex-grow: 1;
  padding: 30px;
  text-align: center;

}

.definition{
  font-size: 20px;
  text-align: left;
  background-color: rgb(158, 231, 161);
  padding: 10px;
  margin-bottom: 30px;
}

.title-box{
  background: #15171c;
  height: 80px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}

.title-box h1{
  font-size: 40px;
  font-weight: bold;
  margin-left: 280px;
  color: white;
}

.image-box{
  display:flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px;
  margin-bottom: 30px;
  background-color: rgb(158, 231, 161);
}

.group-image{
  margin-right: 280px;
  background-color: rgb(158, 231, 161);
  padding: 10px;
  align-items: center;
  justify-content: center;
}
