/* src/components/PracticePage.css (Create this file if it doesn't exist) */
.practice-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-family: 'Saira Condensed', sans-serif;
  }
  
 .h1{
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 30px; 
  }

  .content {
    flex-grow: 1;
    padding: 30px;
    text-align: center;
    font-family: 'Saira Condensed', sans-serif;
    background-color: rgb(2, 2, 2,0.15);
    border-color: black;
  }

  .content h2{
    color: rgb(238, 94, 139);
    font-size: 3rem;
  }


  .definition{
    font-size: 20px;
    text-align: left;
    font-family: 'Saira Condensed', sans-serif;
    background-color: rgb(158, 231, 161);
    padding: 10px;
    margin-bottom: 30px;
  }

  .sortingExample{
    font-size: 23px;
    text-align: left;
    background-color: rgb(247, 227, 227);
    padding: 10px;
    margin-bottom: 30px;
  }
  
  .image{
    margin-right: 100%;
    margin-left: 33%;
    background-color: rgb(158, 231, 161);
    padding: 10px;
    align-items: center;
    justify-content: center;
  }

  .title-box{
    background: #15171c;
    height: 80px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-align: center;
  }
  
  .title-box h1{
    font-size: 35px;
    font-weight: bold;
    margin-left: 250px;
    color: white;
  }
  
  .image-box{
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin-bottom: 30px;
    background-color: rgb(158, 231, 161);
  }

  .button-row{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-right: -95px;
    background: #15171c;
    height: 80px;
  }
